show.html.erb
<h1>Perfil do <%= @user.email %></h1>
<h2>Tweets (<%= @user.tweets.count %>)</h2>
<hr>
<h3>Seguidores (<%= @user.followers.count %>)</h3>
<h3>Seguindo (<%= @user.following.count %>)</h3>


<% if @user.tweets.empty? %>
	<p>Usuário ainda não tem Tweets</p>
	<% else %>
	<ul>
	<% @user.tweets.each do |tweet| %>
	<li><%= tweet.content %></li>
	<% end %>
	</ul>
	<% end %>